body {
  background: #d1d9db;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 700px;
  height: 250px;
  border: 3px solid green;
}

.track {
  display: block;
  position: absolute;
  width: 460px;
  height: 4px;
  background: #000000;
  border-radius: 4px;
}

.change-track-color {
  /* display: block;
  position: absolute;
  width: 230px;
  height: 4px; */
  background: #0d34ff;
  /* border-radius: 4px; */
}

.thumb {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 88px;
  height: 88px;
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 50%;
  top: -45px;
  cursor: pointer;
}

.thumb:hover {
  background: #0d34ff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  border: 4px solid #0d34ff;
}
.thumb:active {
  background: #0d34ff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  border: 4px solid #0d34ff;
}

.text {
  position: absolute;
  width: 96px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text:hover {
  width: 88px;
  color: #ffffff;
}
